
@media screen and (max-width: 2000px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  #projects{
    /* margin-top: 50px; */
    margin-bottom: 600px;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  .project-arrows {
    position: absolute;
    left: 5%;
    top: 100%;
    transform: translateY(-50%);
    width: 90%;
  }

  .white-arrows{
    position: absolute;
    right: 2%;
    top: 179%;
    width: 60px;
    height: 15px;
  }


  .white-arrows span{
    display: inline-block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
  }
  
}

/*when the width is lower than 1200px, desktop-nav will disappear*/
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  #projects{
    
    margin-bottom: 0px;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .project-arrows {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
  }
  .text{
    font-size: 14px;
  }
  .white-arrows{
    position: absolute;
    right: 2%;
    top: 93%;
    width: 50px;
    height: 12px;
  }
  .white-arrows span{
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 50%;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .project-arrows {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
  }
  .text{
    font-size: 12px;
    scale: .8;
  }
  .white-arrows{
    position: absolute;
    right: 3%;
    top: 92%;
    width: 40px;
    height: 10px;
  }
  .white-arrows span{
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
  }
}